<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="header-icon">
            <i class="pe-7s-note2"></i>
        </div>
        <div class="header-title">
            <h1>Appionment</h1>
            <small>Appionment list</small>
            <ol class="breadcrumb hidden-xs">
                <li><a href="index.html"><i class="pe-7s-home"></i> Home</a></li>
                <li class="active">Appionment</li>
            </ol>
        </div>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- Form controls -->
            <div class="col-sm-12">
                <div class="panel panel-bd lobidrag">
                    <div class="panel-heading">
                        <div class="btn-group">
                            <a class="btn btn-primary" href="table.html"> <i class="fa fa-list"></i>  Appionment List</a>
                        </div>
                    </div>
                    <div class="panel-body">

                        <form class="col-sm-6">
                            <div class="form-group">
                                <label>Patient Id</label>
                                <input type="text" class="form-control" placeholder="Enter Id" required>
                            </div>
                            <div class="form-group">
                                <label>Department Name</label>
                                <input type="text" class="form-control" placeholder="Enter Department" required>
                            </div>
                            <div class="form-group">
                                <label>Doctor Name</label>
                                <input type="email" class="form-control" placeholder="Enter Doctor name" required>
                            </div>

                            <div class="form-group">
                                <label>Appionment date</label>
                                <input name="Appionmentr" class="datepicker form-control hasDatepicker" type="text" placeholder="Appionment date" value="" required>
                            </div>
                            <div class="form-group">
                                <label>Serial No:</label><br>
                                <div class="pagination">
                                    <a href="#">&laquo;</a>
                                    <a href="#">1</a>
                                    <a href="#" class="active">2</a>
                                    <a href="#">3</a>
                                    <a href="#">4</a>
                                    <a href="#">5</a>
                                    <a href="#">6</a>
                                    <a href="#">&raquo;</a>
                                </div>

                            </div>

                            <div class="form-group">
                                <label>Problem</label><br>
                                <textarea class="form-control" rows="6" placeholder="problem">
                                     </textarea>
                            </div>
                            <div class="form-check">
                                <label>Status</label><br>
                                <label class="radio-inline"><input type="radio" name="status" value="1" checked="checked">Active</label>
                                <label class="radio-inline">
                                    <input type="radio" name="status" value="0">Inctive
                                </label>
                            </div>
                            <div class="reset-button">
                                <a href="#" class="btn btn-warning">Reset</a>
                                <a href="#" class="btn btn-success">Save</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section> <!-- /.content -->
</div>