@{
    Layout = "/Views/Shared/_AccountLayout.cshtml";
}

<div class="login-wrapper">
    <div class="container-center">
        <div class="panel panel-bd">
            <div class="panel-heading">
                <div class="view-header">
                    <div class="header-icon">
                        <i class="pe-7s-refresh-2"></i>
                    </div>
                    <div class="header-title">
                        <h3>Password Reset</h3>
                        <small><strong>Please fill the form to recover your password</strong></small>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <form>
                    <p>Fill with your mail to receive instructions on how to reset your password.</p>
                    <div class="form-group">
                        <label class="control-label" for="username">Email</label>
                        <input type="text" placeholder="example@gmail.com" title="Please enter you email adress" required="" value="" name="username" id="username" class="form-control">
                        <span class="help-block small">Your registered email address</span>
                    </div>
                    <div>
                        <a class="btn btn-success btn-block" href="#">Reset password</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>