@using System.Security.Claims;
@model List<MedicineViewModel>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="header-icon">
            <i class="pe-7s-box1"></i>
        </div>
        <div class="header-title">
            <h1>Master</h1>
            <small>Medicine List</small>
            <ol class="breadcrumb hidden-xs">
                <li><a href="~/Home/Index"><i class="pe-7s-home"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </div>
    </section>
    <!-- Main content -->
    <section class="content">


        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-bd lobidrag">
                    <div class="panel-heading">
                        <div class="btn-group">
                            <a class="btn btn-success" href="~/SetUp/AddEditMedicine"> <i class="fa fa-plus"></i>  Add Medicine</a>
                        </div>

                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead class="success">
                                    <tr>
                                        <th>Sr No</th>
                                        <th>Medicine</th>
                                        <th>Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Any())
                                    {
                                        int i = 0;
                                        foreach (var item in Model)
                                        {
                                            i++;
                                            <tr>
                                                <td>
                                                    <label>@i</label>
                                                </td>
                                                <td>@item.MedicineName</td>
                                                <td style="width: 80px;">
                                                    <a href="/SetUp/AddEditMedicine?Id=@item.MedicineId" class="btn btn-info btn-xs" target="_blank">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <button type="button" class="btn btn-danger btn-xs" id="btndelete" onclick="DeleteMedicine(@item.MedicineId)">
                                                        <i class="fa fa-trash-o"></i>
                                                    </button>
                                                </td>

                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- /.content -->
</div>
<script src="~/js/SetUp.js"></script>